/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.arrow {
  position: absolute;
  stroke-width: 2;
  fill: none;
  transition: all 700ms ease;
}

.container {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-arrows {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Sub-container for the last four circles */
.sub-container {
  position: absolute;
  top: 42%;
  left: 14.5%;
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.additional-courses-container {
  position: absolute;
  top: 42%;
  left: 13%;
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  text-align: center;
  padding: 5px; /* Add padding to ensure text doesn't touch the edges */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  font-size: 11px; /* Adjust the font size to fit the text inside the circles */
  transform: translate(-50%, -50%);
  transition: all 700ms ease;
  border: 0px solid;
}

.highlight-border{
  border-color: black !important; 
  border-width: 1px !important;
  border-radius:2px;
  transition: all 300ms ease;
}
.opaque{
  opacity: 20%;
  transition: all 700ms ease;
}

.opaque-arrow{
  opacity: 0%;
  transition: all 200ms ease;
}

.concentration {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  text-align: center;
  padding: 5px; /* Add padding to ensure text doesn't touch the edges */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  font-size: 11px; /* Adjust the font size to fit the text inside the circles */
  transform: translate(-50%, -50%);
  border-width: 0cap;
  border-style: solid;
  transition: all 700ms ease;
}

#mse45 { background-color: brown; top: 25%; left: 0%;}
#mechec85 { background-color: burlywood; top: 25%; left: 10%; ;}
#e7 { background-color: #00bfff; top: 25%; left: 60%; ;}
#chem3a { background-color: #00cccc; top: 25%; left: 30%; ;}
#cs70 { background-color: #00bfff; top: 32%; left: 40%; ;}
#bioe10 { background-color: #00cccc; top: 17%; left: 20%; ;}
#bioe25 { background-color: #00cccc; top: 32%; left: 20%; ;}
#bioe26 { background-color: #00cccc; top: 47%; left: 20%; ;}
#bioe11 { background-color: #00cccc; top: 40%; left: 30%; ;}
#cs61a { background-color: #00bfff; top: 25%; left: 50%; ;}
#cs61b { background-color: #00bfff; top: 40%; left: 50%; ;}
#physics7a { background-color: #ff9933; top: 25%; left: 70%; ;}
#physics7b { background-color: #ff9933; top: 40%; left: 70%; ;}
#math55 { background-color: #ff6666; top: 32%; left: 90%; ;}
#math54 { background-color: #ff6666; top: 25%; left: 80%; ;}
#math53 { background-color: #ff6666; top: 40%; left: 80%; ;}
#eecs16a { background-color: #cccccc; top: 25%; left: 100%; ;}
#eecs16b { background-color: #cccccc; top: 40%; left: 100%; ;} 


#synthetic { background-color: #ff9999; }
#cell { background-color: #ccffcc; }
#devices { background-color: #cc99ff; }
#imaging { background-color: #ffff99; }



